@import './bootstrap.min.css';
body{
background: #d9d8d8;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: rgb(73, 73, 206);
    margin: 20px 0 0 0;
}
h3{
    color: rgb(73, 73, 206);
}
table{
    border: 2px solid #0000ff4d;
    background-color: #a3b1adaf;
    margin: 0 15% 3% 15%;
    width: 70%;
    
}
th{ 
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-width: 3px;
    height: 45px;
    width: 37%;
    text-align: center;
}
td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: auto;
    text-align: center;
    font-size: 15px;
}
nav a{
    padding-right: 10px;
    text-decoration: none;
}
